body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #8c8c8c;
  border-bottom: 2px black solid;
  color: white;
  margin: auto;
  text-align: center;
}

.canvas {
  background-color: #e5e5d5;
  border: 2px solid black;
  width: 750px;
  height: 750px;
  margin: 10px auto;
}
